name: HACS

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  hacs:
    name: HACS validation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: hacs/action@main
        with:
          category: integration
